
@{
    ViewBag.Title = "Crear";
}

<h2>Crear</h2>

<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading text-center"><h3>Crear pokemon</h3></div>
                <div class="panel-body">

                    <form action="/Pokemon/Crear" method="post">

                        <div>
                            <label class="control-label">Nombre :</label>
                            <input class="form-control" type="text" name="Nombre" value="@Model.Nombre" />
                            @Html.ValidationMessage("Nombre")
                        </div>

                        <div>
                            <label class="control-label">Tipo :</label>
                            <select class="form-control" name="Tipo">
                                <option value="Tipo1">Tipo1</option>
                                <option value="Tipo2">Tipo2</option>
                                <option value="Tipo3">Tipo3</option>
                                <option value="Tipo4">Tipo4</option>
                                <option value="Tipo5">Tipo5</option>

                            </select>
                            @Html.ValidationMessage("Tipo")
                        </div>

                        <br />

                        <button class="btn btn-primary"><span class="glyphicon glyphicon-saved"></span> Guardar</button>


                    </form>
                </div>

            </div>
        </div>

    </div>
</div>
